TURSO_DATABASE_URL=""
TURSO_AUTH_TOKEN=""

STEAM_API_KEY=""
STEAM_ID=""
STEAM_ACCESS_TOKEN=""
STEAM_FAMILY_GROUP_ID=""

GOG_CLIENT_ID=""
GOG_CLIENT_SECRET=""

EPIC_CLIENT_ID=""
EPIC_CLIENT_SECRET=""
EPIC_REFRESH_TOKEN=""

SYNC_SECRET=""

PORT=3000
